<div class="ui-g"> 
<div class="ui-g-6">
<p-table [value]= "clientes">
<ng-template pTemplate="header">
  <tr>
    <th>Código</th>
    <th>Nome</th>
    <th>Limite de Credito </th>
    <th>Risco </th>
    <th>Juros %</th>
  </tr>
</ng-template>

<ng-template pTemplate="body" let-cliente>
  <tr>
    <td>
      {{cliente.id}}
    </td>
    <td>
      {{cliente.nome}}
    </td>
    <td class="col-numero">
      {{cliente.limiteCredito}}
    </td>
    <td>
      {{cliente.risco}}
    </td>
    <td class="col-numero">
      {{cliente.aliquotaJuros | number:'1.2-2'}}
    </td>
  </tr>
</ng-template>
</p-table>

</div>

</div>
