<div class="ui-g">
  <div class="ui-g10">
    <h1>Cadastro Cliente</h1>
  </div>
</div>

<form  ng-controller="ClienteCadastroComponent" #frm="ngForm">
<div class="ui-g">
  <div class="ui-g-5 ui-fluid">

      
          <label>Nome</label>
          <input pInputText id="nome" name ="nome" [(ngModel)]="cliente.nome" required/>
      
      
          <label>Limite Credito</label>
          <input   pInputText id="limiteCredito" name ="limiteCredito" currencyMask [(ngModel)]="cliente.limiteCredito" [options]="{ prefix: '', thousands: '', decimal: '.' }" required/>
          
     
     
          <label>Risco</label>

           <p-dropdown id ="risco" name ="risco"
          [autoWidth] = "false" placeholder = "Selecione .."
          [options]= "riscos" optionLabel = "descricao" optionValue = "descricao"  [(ngModel)]="risco" required ></p-dropdown> 

    <div class="ui-g-3">
      <button pButton type="button" icon="pi pi-save" label = "Salvar" [disabled] ="frm.invalid"
         (click)="submit()" >Salvar</button>

    </div>
  </div>
</div>


</form>
