<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>
  <app-cliente-cadastro (clienteSalvo)="listagem.listar()"></app-cliente-cadastro>
  <app-clientes-listagem #listagem></app-clientes-listagem>


<router-outlet></router-outlet>
